.input-container {
    width: 320px;
    border-style: solid;
    border-width: 1px;
    border-color: #267cc1;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.input-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left:10px;
    color: #267cc1;
    font-size: 14px;
}

.input-inside{
    width: 70%;
    height: 35px;
    color: #267cc1;
    border-style: hidden;
    border-width: 0px;
}