.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 720px;
}

.Content {
    background-color: #267cc1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 90%;
    width: 80%;
}

.Panel-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 40%;
}

.Title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Title-part1 {
    color: #ffffff;
}

#Title-part2 {
    margin-left: 8px;
    color: #5e1dad;
}

.DescApp {
    width: 60%;
    align-self: center;
    color: #ffd700;
    font-size: 100%;
}

.Content-img {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    position: static;
    margin-top: 20px;
}

.Classroom-img {
    height: 100%;
}

.Panel-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 60%;
    background-color: white;
}

.Content-logo {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

#Logo {
    width: 35%;
    position: relative;
}

.Content-userLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.Content-userButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px; 
    align-self: center;
    width: 350px;
    height: 50px;
}

.UserButton {
    width: 40%;
    background: #267cc1;
    border-style: solid;
    border-width: 1px;
    color: #fff;
}

.Content-professorButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 30%;
    background-color: black;
    height: 50px;
    margin: 10px;
}

.ProfessorButton {
    width: 100%;
    background: #267cc1;
    border-style: solid;
    border-width: 1px;
    color: #fff;
}
